<!DOCTYPE html>
<html>
    <head>
        <title>Highcharts Websocket Test</title>
        <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='highcharts/highcharts.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='mathjs/dist/math.js') }}"></script>
        <script src="{{ url_for('static', filename='js/connection.js') }}"></script>
        <script src="{{ url_for('static', filename='js/highcharts_test.js') }}"></script>
    </head>
    <body>
        <input id="hostname" type="text" value="127.0.0.1"/>
        <button id="toggleButton">Connect</button>
        <br>
        <div id="container" style="width:100%; height:400px;"></div>
        <br>
        <label><input id="toggleAverage" type="checkbox"/> Averaging</label>
    </body>
</html>
